:root {
  --navigation-item-default-color: #bfbdbf;
  --navigation-item-hover-color: #488dbe;
  --navigation-item-active-color: #080608;
  --slider-line-bg-color: #d8d7d8;
  --slider-line-color: #080608;
}

body {
  font-family: sans-serif;
  margin: 0 20px;
  min-width: 500px;
}
